.product {
    padding: 24px;
    font-size: 24px;
}

.products__Row {
    display: flex;
}

.products__ColImg, .products__Col {
    flex: 1;
}

.products__ColImg {
    max-width: 50px;
    margin-right: 25px;
}